@font-face {
  font-family: 'helvetica';
  src: url(Helvetica65Medium_22443.ttf);
}

body{
  background-color: black;
}

.center{
  color: white;
  text-transform: uppercase;
  font-family: helvetica;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.access-code{
  /* text-decoration: underline; */
}

.chevrons{
  font-weight: bold;
  font-size: 4vw;
}

#access{

}

#code{
  background-color: #c52747;
  padding: 4px;
}

#school{
  font-size: 3vw;
  border-top: 0.25vw solid white;
  letter-spacing: 3.5vw;
}
